@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&display=swap');

html {
    font-family: 'IBM Plex Mono', monospace;
    background-color: black;
    color: white;
}

body {
    margin: 0;
}

.app {
    margin: 0 15vw;
}

.header {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    margin: 45vh 0;
    z-index: 1; 
}

#name {
    cursor: pointer;
    display: flex;
    align-items:center;
    font-size: 4rem;
    font-weight:800;
    min-height: 10.1vh;
    margin: 0;
}

#navbar {
    display: flex;
    flex-direction: row;
    align-items:center;
}

#nav_button {
    cursor: pointer;
    background-color: transparent;
    color: grey;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    font-weight: 400;
    border-width: 0rem;
    margin: 0;
    padding: 0rem;
    padding-left: 1rem;
}

.active {
    color: white;
}

.section {
    margin: 0 0 4rem 0;
}

.section_heading {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;
}

.subsection {
    margin: 2rem;
    margin-right: 0;;
}

.item_name {
    color: white;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    padding: 0rem;
}

.item_description {
    color: grey;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

.project {
    margin: 0 0 2rem 0;
    display: flex;
}

#indenter {
    margin-right: 1rem;
}

.gallery_item > div {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
}

.gallery_item > div > div{
    margin-left: 2rem;
}

.media {
    max-width: 10rem;
}

.social {
    margin: 0 0 2rem 0;
    display: flex;
}

#social_icon {
    color: grey;
    margin-right: 1rem;
    display: flex;
    align-items: center;
}